/*
 * All variable is defined here!
 *
 */

// Colors
$color-default-100: #FFFFFF;
$color-yellow-100: #FFE492;
$color-dark-100: #043873;
$color-blue-100: #4F9CF9;
$color-lightblue: #C4DEFD;
$color-black: #212529;

// Font family
$ff-primary: 'Inter', sans-serif;
$ff-secondary: 'DM Sans', sans-serif;
$ff-montserrat: 'Montserrat', sans-serif;

// Font sizes
$fos-16: 16px;
$fos-18: 18px;
$fos-24: 24px;
$fos-28: 28px;
$fos-36: 36px;
$fos-40: 40px;
$fos-54: 54px;
$fos-64: 64px;
$fos-70: 70px;
$fos-72: 72px;

// Font weight
$fweight-400: 400;
$fweight-500: 500;
$fweight-600: 600;
$fweight-700: 700;

// Lineheight
$lheight_1-14: 1.14;
$lheight_1-2: 1.2;
$lheight_1-25: 1.25;
$lheight_1-27: 1.27;
$lheight_1-28: 1.28;
$lheight_1-3: 1.3;
$lheight_1-33: 1.33;
$lheight_1-5: 1.5;
$lheight_1-66: 1.66;

// lettter spacing
$letter-spacing_2: -0.32px;

// Heading backgroud image url
$heading-bg__primary: '../../assets/img/bg/head/IMG01.svg';
$heading-bg__secondary: '../../assets/img/bg/head/IMG02.svg';
$heading-bg: '../../assets/img/bg/head/IMG03.svg';
$heading-bg-desktop: '../../assets/img/bg/head/IMG04.svg';
$heading-bg-desktop-1: '../../assets/img/bg/head/IMG05.svg';
$heading-bg-desktop-2: '../../assets/img/bg/head/IMG06.svg';
$heading-bg-desktop-3: '../../assets/img/bg/head/IMG07.svg';
$heading-bg-tablet-1: '../../assets/img/bg/head/IMG08.svg';
$heading-bg-mobile-1: '../../assets/img/bg/head/IMG09.svg';
$heading-bg-mobile-2: '../../assets/img/bg/head/IMG10.svg';
$heading-bg-mobile-3: '../../assets/img/bg/head/IMG11.svg';
$heading-bg-tablet-2: '../../assets/img/bg/head/IMG12.svg';
$heading-bg-desktop-4: '../../assets/img/bg/head/IMG13.svg';
$heading-bg-mobile-4: '../../assets/img/bg/head/IMG14.svg';
$heading-bg-mobile-5: '../../assets/img/bg/head/IMG15.svg';
$heading-bg-tablet-3: '../../assets/img/bg/head/IMG16.svg';
$heading-bg-desktop-5: '../../assets/img/bg/head/IMG17.svg';
$heading-bg-mobile-6: '../../assets/img/bg/head/IMG18.svg';
$heading-bg-tablet-4: '../../assets/img/bg/head/IMG19.svg';
$heading-bg-desktop-6: '../../assets/img/bg/head/IMG20.svg';
$heading-bg-mobile-7: '../../assets/img/bg/head/IMG21.svg';
$heading-bg-desktop-7: '../../assets/img/bg/head/IMG22.svg';
$heading-bg-desktop-8: '../../assets/img/bg/head/IMG23.svg';

// Screen size
$tablet: 768px;
$desktop: 1024px;
$medium-mobile: 425px;