/*
 * Project component style.
 *
 */

.project-section {
    padding: 80px 0;
    text-align: center;
    background-image: url('https://aasisp.github.io/Whitepace/assets/img/bg/bg-work-01.svg');
    background-repeat: no-repeat;
    background-position: 0 39px;

    @media (min-width: $tablet) {
        background-image: url('https://aasisp.github.io/Whitepace/assets/img/bg/bg-work.svg');
        background-repeat: no-repeat;
        background-position: -360px 40px;
    }

    @media (min-width: $desktop) {
        padding: 140px 0;
        text-align: start;
        background-image: url('https://aasisp.github.io/Whitepace/assets/img/bg/bg-work.svg');
        background-repeat: no-repeat;
        background-position: -313px 3px;
    }

    .container {
        display: grid;
        gap: 100px;

        .project-section__row {
            display: grid;
            gap: 60px;

            @media (min-width: $desktop) {
                gap: 0;
                grid-template-columns: .90fr 1fr;
            }

            .project-section__info {
                @media (min-width: $desktop) {
                    align-self: center;

                    h2 {
                        letter-spacing: -1.5px;
                    }
                }

                p {
                    margin-bottom: 60px;

                    @media (min-width: $desktop) {
                        letter-spacing: -0.36px;
                    }
                }

                .project-section__btn {
                    padding: 25px 40px 22.5px 40px;

                    @media (min-width: $desktop) {
                        padding: 21px 40px 19px 40px;
                    }

                    &::after {
                        font-size: 14px;
                    }
                }
            }

            .project-section__img {
                justify-self: center;

                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }

        .project-section__row:first-child {
            .project-section__info {
                h2 {
                    margin-bottom: 25px;
                    @include headingBG(calc(50% - 119px), -22.5px, $heading-bg__primary);

                    @media (min-width: $tablet) {
                        @include headingBG(calc(50% - 268px), -21px, $heading-bg__primary);
                    }

                    @media (min-width: $desktop) {
                        @include headingBG(calc(50% - 190px), -31px, $heading-bg-desktop);
                    }
                }
            }
            .project-section__img {
                // max-width: 286px;
                width: 100%;
                height: 177px;
                background-color: $color-lightblue;

                @media (min-width: $tablet) {
                    width: 561px;
                    height: 349px;
                }

                @media (min-width: $desktop) {
                    width: 100%;
                    height: 448px;
                    max-width: 719px;
                    justify-self: end;
                }
            }
        }

        .project-section__row:nth-child(even) {
            
            @media (min-width: $desktop) {
                gap: 110px;
                grid-template-columns: 1fr 1fr;

                .project-section__img {
                    order: -1;
                    justify-self: start;
                }
            }

            .project-section__info {
                h2 {
                    margin-bottom: 24.5px;
                    @include headingBG(calc(50% - 125px), -7px, $heading-bg__secondary);

                    @media (min-width: $tablet) {
                        @include headingBG(calc(50% - 183px), -28px, $heading-bg);
                    }

                    @media (min-width: $desktop) {
                        margin-bottom: 25px;
                        @include headingBG(calc(50% - 231px), -21.5px, $heading-bg-desktop-1);
                    }
                }

                .project-section__btn  {
                    padding: 24.5px 40px 22.5px 40.5px;

                    @media (min-width: $desktop) {
                        padding: 20.5px 40px 20.5px 40.5px;
                    }
                }
            }

            .project-section__img {
                width: 100%;
                max-width: 279px;
                height: 259.74px;

                @media (min-width: $tablet) {
                    max-width: 454px;
                    height: 422.67px;
                }

                @media (min-width: $desktop) {
                    max-width: 583px;
                    height: 542.76px;
                }

                img {
                    width: 100%;
                    height: 100%;
                }
            }
            
        }
    }
}